In [1]:
import pandas as pd
import numpy as np


df = pd.read_csv("data/moves.csv")

In [2]:
df

,Unnamed: 0,Name,Type,Cat.,PP,Att.,Acc.,Effect
0,0,Accelerock,NaN,NaN,20,40,100,The user smashes into the target at high speed...
1,2,Acrobatics,NaN,NaN,15,55,100,The user nimbly strikes the target. If the use...
2,3,Aerial Ace,NaN,NaN,20,60,101,"The user confounds the target with speed, then..."
3,5,Anchor Shot,NaN,NaN,20,80,100,The user entangles the target with its anchor ...
4,6,Aqua Jet,NaN,NaN,20,40,100,The user lunges at the target at a speed that ...
...,...,...,...,...,...,...,...,...
738,255,Withdraw,NaN,NaN,40,0,101,The user withdraws its body into its hard shel...
739,256,Wonder Room,NaN,NaN,10,0,101,The user creates a bizarre area in which Pokém...
740,257,Work Up,NaN,NaN,30,0,101,"The user is roused, and its Attack and Sp. Atk..."
741,258,Worry Seed,NaN,NaN,10,0,100,A seed that causes worry is planted on the tar...
742,259,Yawn,NaN,NaN,10,0,101,The user lets loose a huge yawn that lulls the...